/* DEFAULT */

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

:root {
  --white: #fff;
  --black: #000;
  --bg-color: #f6f8fa;
  --text-color: #677788;
  --btn-color: #2476ff;
  --bullet-inner-color: #0066ff;
  --bullet-outer-color: #ecf2ff;
  --wing-color: #e6e9f2;
  --border-color: #e2e2e2;
  --shadow-color: #00000026;
  --icon-shadow-color: #00000040;
  --divider-color: #8d8d8d;
  --hire-us-bg-color: #20335b;
  --form-border-color: #e6e8f2;
  --label-color: #828282;
  --link-color: #2576ff;
  --badge-color: #01c9a7;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: var(--text-color);
  font-size: 14px;
  font-family: "Inter";
}

h1 {
  font-size: 40px;
  line-height: 48.1px;
  font-weight: 500;
  font-family: "Inter";
  color: var(--black);
  margin: 0;
}

h2 {
  font-family: "Inter";
  font-size: 26px;
  font-weight: 700;
  line-height: 31.47px;
  text-align: center;
  margin: 0;
}

p {
  font-weight: 500;
  font-family: "Inter";
  color: var(--text-color);
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  width: 600px;
}

/* HEADER */

.fa-bars {
  display: none;
}

header {
  display: flex;
  height: 86px;
  padding: 10px 30px;
  background-color: var(--bg-color);
  align-items: center;
}

.logo-main {
  margin-right: auto;
  width: 154.9px;
  height: 46.1px;
}

.header-nav {
  display: flex;
  justify-content: space-around;
  gap: 30px;
  align-items: center;
}

.header-nav-list {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  align-items: center;
}

.btn-link {
  background-color: var(--btn-color);
  padding: 15px 25px;
  border-radius: 30px;
  font-size: 12px;
  font-family: "Inter";
  color: var(--white);
  border: 2px solid var(--btn-color);
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
}

.btn-link > .fa {
  font-size: 18px;
}

/* HERO SECTION */

.hero {
  height: 446px;
  background-image: url(../assets/bg/background-top.svg);
  background-size: 100% 100%;
  display: flex;
  padding: 40px 30px 0px 30px;
}

.hero-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.hero-text {
  width: 334px;
}

.hero-text > p {
  font-size: 14px;
  font-weight: 500;
  font-family: "Inter";
  color: var(--text-color);
  text-align: left;
}

.hero-actions {
  display: flex;
  gap: 24px;
  align-items: center;
}

.hero-right {
  position: relative;
}

.logo-icon-sm {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0px 3px 13px 0px var(--icon-shadow-color);
  background-color: var(--white);
}

.logo-icon-lg {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 16px;
  box-shadow: 0px 3px 13px 0px var(--icon-shadow-color);
  background-color: var(--white);
}

.logo-icon-sm > img,
.logo-icon-lg > img {
  width: 100%;
}

#google-icon {
  top: 10px;
  left: 64px;
}

#google-ads-icon {
  top: 290px;
  left: 155px;
}

#asana-icon {
  top: 10px;
  left: 380px;
}

#atlassian-icon {
  top: 10px;
  left: 175px;
}

#calendar-icon {
  top: 310px;
  left: 364px;
}

#weave-icon {
  top: 172px;
  left: 262px;
}

#paypal-icon {
  top: 172px;
  left: 44px;
}
/* HEADERS */

.why-front,
.pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

/* WHY FRONT */

.why-front {
  height: 354px;
}

.bullets-list {
  display: flex;
}

.bullet {
  width: 224px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  gap: 24px;
}

.bullet-top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.bullet-circle {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: var(--bullet-outer-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.bullet-inner-circle {
  width: 6px;
  height: 6px;
  border-radius: 3px;
  background-color: var(--bullet-inner-color);
}

.bullet-text {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 500;
  line-height: 19.36px;
  text-align: center;
  color: var(--black);
  margin: 0;
}

.wing {
  width: 87px;
  border: 1px solid var(--wing-color);
}

#first-wing,
#last-wing {
  visibility: hidden;
}

/* PRICING */

.pricing {
  gap: 60px;
  padding-bottom: 120px;
}

.plans-feature-list {
  display: flex;
  gap: 30px;
  padding: 0 30px;
}

.plan-header {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.plan {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 55px 40px;
  gap: 50px;
  border: 1px solid var(--border-color);
  width: 370px;
}

.plan-price {
  font-family: "Inter";
  font-size: 50px;
  font-weight: 500;
  line-height: 60.51px;
  text-align: left;
}

.plan-period {
  font-family: "Inter";
  font-size: 20px;
  font-weight: 510;
  line-height: 23.87px;
  text-align: left;
  color: var(--text-color);
}

.plan-text {
  width: 100%;
  text-align: left;
  font-size: 16px;
  line-height: 24px;
  margin: 0;
}

.plan-divider {
  width: 100%;
  height: 1px;
  background-color: var(--divider-color);
  border: none;
  margin: 0;
}

.plan-btn-text {
  text-align: left;
  font-size: 12px;
}

.plan-features {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 567px;
}

.pricing-row {
  display: flex;
  gap: 10px;
}

.item-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}

.pricing-feature-img {
  width: 50px;
  height: 50px;
}

.pricing-feature-title {
  margin: 0;
  font-family: "Inter";
  font-weight: 700;
  font-size: 18px;
}

.pricing-feature-text {
  width: 237px;
  margin: 0;
  font-size: 14px;
  line-height: 22px;
  text-align: left;
}

.badge {
  padding: 4px 10px;
  background-color: var(--badge-color);
  color: var(--white);
  border-radius: 15px;
  font-size: 12px;
  margin-left: 10px;
}

/* HIRE US */

.hire-us {
  padding: 30px;
  background-color: var(--hire-us-bg-color);
  display: flex;
}

.hire-left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-left: 70px;
  gap: 60px;
  justify-content: center;
}

.hire-left-top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  width: 370px;
}

.hire-title {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hire-title-title {
  /* font-family: "Inter"; */
  font-size: 26px;
  font-weight: 700;
  line-height: 31.47px;
  color: var(--white);
  text-align: left;
}

.hire-title-text {
  margin: 0;
  text-align: left;
  width: 370px;
}

.hire-divider {
  width: 100%;
  color: var(--white);
  border: 1px solid;
  margin: 0;
}

.hire-phrase {
  font-style: italic;
  text-align: left;
  color: var(--white);
  width: 370px;
  margin: 0;
}

.hire-left-bottom {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 370px;
}

.hire-person-name {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: var(--white);
  margin: 0;
}

.hire-person-role {
  font-size: 14px;
  text-align: left;
  margin: 0;
}

.hire-person-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.hire-right {
  width: 50%;
}

.hire-form {
  background-color: var(--white);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 37px;
  border-radius: 10px;
}

.form-text {
  width: 100%;
  margin: 0;
  text-align: left;
  color: var(--black);
  font-weight: 700;
}

.form-textarea {
  height: 150px;
  line-height: 22px;
}

.form-group-marketing-label > label {
  font-family: "Inter";
  font-size: 14px;
  font-weight: 510;
  line-height: 22px;
  text-align: left;
  color: var(--label-color);
}

.form-group-name,
.form-group-email,
.form-group-dropdown,
.form-group-marketing-option,
.form-textarea {
  width: 100%;
  display: flex;
  gap: 20px;
}

input,
select,
textarea {
  width: 100%;
  padding: 10px;
  font-family: "Inter";
  resize: none;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid var(--form-border-color);
  background-color: var(--white);
}

input[type="checkbox"] {
  width: 10%;
  margin-bottom: 30px;
}

.form-group-marketing-label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.form-group-marketing-label > a {
  border-bottom: 1px dashed var(--text-color);
  width: fit-content;
}

.btn-submit {
  width: 125px;
  height: 45px;
  font-size: 12px;
  font-family: "Inter";
  align-self: center;
}

/* FOOTER */

footer {
  display: flex;
  padding: 40px 30px;
  gap: 40px;
}

.company-info {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.logo-footer {
  width: 100px;
}

.company-info-nav {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company-info-nav > a:last-child {
  color: var(--link-color);
}

.site-nav-menu {
  display: flex;
  gap: 49px;
}

.site-nav {
  display: flex;
  gap: 49px;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-nav-column {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-nav-title {
  font-size: 18px;
  font-weight: 860;
  font-family: "Inter";
  margin: 0;
}

.fa {
  font-size: 12px;
}

.fa-user-circle {
  font-size: 11px;
}

.fa-phone {
  color: var(--text-color);
}

.nav-badge {
  padding: 2px 4px;
  background-color: var(--link-color);
  border-radius: 3px;
  color: var(--white);
  font-size: 8px;
}