body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 5px auto;
    padding: 0;
}

.container {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.logo-front {
    width: auto;
    height: 50px;
}

.logo-icon-lg, .logo-icon-sm {
    width: auto;
    height: 50px;
}

header {
    background-color: lightgray;
    max-height: 50px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

#top-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}