@media (max-width: 63.9375rem) {
    #topSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        align-items: center;
    }

    .topSectionContent {
        width: 100%;
        height: 49rem;
        padding: 0;
        margin: 0 auto;
    }

    header {
        width: 100%;
        padding: 0;
    }

    .logo {
        margin-left: 1.875rem;
    }

    #navList, .navButton {
        display: none;
    }

    nav .fa-bars {
        display: flex;
    }

    .heroSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 27.25rem;
        padding: 0;
        margin: 0 auto;
        align-items: center;
        gap: 0;
    }

    #leftPart {
        display: flex;
        flex-direction: column;
        margin: 1.875rem auto;
        width: 100%;
        height: 12.375rem;
        align-items: center;
        text-align: center;
    }

    #title {
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        margin: 0 auto;
    }

    #actions {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        justify-content: center;
    }

    #rightPart {
        width: 100%;
        padding: 0;
        margin: 0;
    }

    .asana-logo {
        top: 9rem;
        left: 42.75rem;
    }

    .calendar-logo {
        top: 22.375rem;
        left: 36.75rem;
    }

    .weave-logo {
        top: 14.75rem;
        left: 23.375rem;
    }

    .paypal-logo {
        top: 14.75rem;
        left: -2.25rem;
    }

    .attlasian-logo {
        top: 7.625rem;
        left: 6.9375rem;
    }

    .googleAds-logo {
        top: 22.125rem;
        left: -3.3125rem;
        padding: .5rem;
    }

    .google-logo {
        top: 7.625rem;
        left: -17rem;
        padding: .5rem;
    }

    .whyFrontSection {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        align-items: center;
        gap: 60px;
    }

    .whyFrontTitle {
        display: flex;
        flex-direction: column;
        width: 60%;
        padding: 0;
        margin: 0 auto;
        align-items: center;
        text-align: center;
    }

    .whyFront {
        padding: 0;
        text-align: center;
        margin: 0 auto;
    }

    .whyFrontaPragraph {
        text-align: center;
        padding: 0;
        margin: 0 auto;

    }

    .mobileBullet {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0 auto;
        align-items: center;
    }

    .bulletTitles {
        gap: 8.875rem;
    }

    .bulletTitles li:nth-child(2) {
        margin-left: 2.0625rem;
    }

    .pricingTitleGroup {
        width: 100%;
        padding: 0;
        margin: 0 auto;
        text-align: center;
    }

    .prictingTitle p {
        text-align: center;
        margin: 0 auto;
        padding: 0;
    }

    .pricingDescription p {
        text-align: center;
        margin: 0 auto;
        text-align: center;
    }

    .pricingGroup {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
        padding: 0;
        gap: 10rem;
    }

    .plan {
        display: flex;
        margin: 0 auto;
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .planHeader {
        width: 100%;
        margin: 0 auto;
        text-align: center;
        align-items: center;
    }

    .planBar {
        color: #8D8D8D;
        width: 90%;
    }

    .planFooter {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .featureList {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 0 auto;
        align-items: center;
        padding: 0;
        gap: 0;
    }

    .featureGroupOne, .featureGroupTwo {
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
    }

    .itemOne, .itemTwo, .itemThree, .itemFour {
        width: 74%;
    }

    .hireUsSection {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
        width: 100%;
        height: 70rem;
        gap: 0;
    }

    .hireUsLeftPart {
        display: flex;
        flex-direction: row;
        width: 80%;
        height: 20rem;
        margin: 0 auto;
        gap: 11rem;
        padding: 0;
    }

    .hireUsTop, .hireUsBottom {
        width: 50%;
    }

    .hireUs {
        font-size: 1.625rem;
    }

    .barWhite {
        width: 25.875rem;
    }

    .hireUsBottom {
        margin-top: 2rem;
        padding: 0;
    }

    .hireUsRightPart {
        display: flex;
        width: 100%;
        margin: 0 auto;
        align-items: center;
    }

    .privacy {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        margin-left: 7.5rem;
    }

    .privacy .second  {
        display: none;
    }

    .footer {
        padding: 0;
        width: 100%;
        margin-bottom: 3rem;
    }

    .footergroupone {
        width: 34%;
    }

    .footergrouptwo, .footergroupthree {
        width: 66%;
    }

    .columns {
        display: flex;
        flex-direction: column;
        width: 66%;
        gap: 3rem;

    }

    .footergrouptwo {
        margin-left: 0.875rem;
        gap: 4.5rem;
    }

    .footergroupthree {
        margin-left: 3.875rem;
        gap: 6.75rem;
    }

}